<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
</head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <img class="logo" src="/images/logo-mercado-liebre.svg" alt="Logo MercadoLiebre">
          <!----  <div class="searchbox">Buscar productos, marcas</div>
            <div class="searchboton"><i class="fas fa-search"></i></div>
          -->
            <h5 class="xd"><i class="fas fa-hand-holding-usd" ></i>Comprá en cuotas y sin tarjeta de crédito</h5>
        </div>
    
        <button href="#" class="menu-burger">
            <i class="fas fa-bars"></i>
        </button>

    <nav class="main-header-bottom-bar">
    <ul type="None">
        <li><a = href="#">Ofertas</a></li>
        <li><a = href="#">Tiendas Oficiales</a></li>
        <li><a = href="#">Vender</a></li>
        <li><a = href="#">Ayuda</a></li>
    </ul>
    <ul type="None">
        <li><a = href="#">Creá tu cuenta<i class="far fa-id-card"></i></a></li>
        <li><a = href="#">Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
        <li><a = href="#">Mis Compras<i class="fas fa-shopping-basket"></a></i></li>
    </ul>
    </nav>
  
        </header>
    <main>
    <div><img class="banner" src="/images/img-home-banner.jpg"></div>
        <section>
        <h2>Basado en tu última visita</h2>
        <div class="lote">
        <section class="art">
            <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
        
                <ul type="None" class="description">
                <i class="fas fa-truck"></i>
                <div class="PyD">
                <li class="precio">$6.770</li>
                <li class="descuento">40% off</li>
                </div>
                <li>Cafetera Moulinex</li>
                </ul>

        </section>

        <section class="art">
            <img src="/images/img-macbook-pro-2019.jpg" alt="Macbook Pro">
                
                <ul type="None" class="description">
                <i class="fas fa-truck"></i>
                <div class="PyD2">
                <li class="precio">$230.000</li>
                <li class="descuento">20% off</li>
                </div>
                <li>Macbook Pro 2019</li>
                </ul>
                
            
        </section>

        <section class="art">
            <img src="/images/img-samsung-galaxy-s10.jpg" alt="Galaxy S10">
            
            <ul type="None" class="description">
                <i class="fas fa-truck"></i>
                <div class="PyD">
                <li class="precio">$70.500</li>
                <li class="descuento">10% off</li>
                </div>
                <li>Samsung Galaxy S10</li>
                </ul>
            
        </section>

        <section class="art">
            
                <img src="/images/img-tv-samsung-smart.jpg" alt="Samsung SmartTv">
                <ul type="None" class="description">
                <i class="fas fa-truck"></i>
                <div class="PyD">
                <li class="precio">$23.200</li>
                <li class="descuento">5% off</li>
                </div>
                <li>SmartTv Samsung 43"</li>
                </ul>
        </section>
        </div>
    </section>

    <section>
        <h2>Sección de Ofertas</h2>
        <div class="lote">
        <section class="art">
            <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                <ul type="None" class="description">
                <i class="fas fa-truck"></i>
                <div class="PyD">        
                <li class="precio">$6.770</li>
                <li class="descuento">40% off</li>
                </div>
                <li>Cafetera Moulinex</li>
                </ul>
                
        </section>

        <section class="art">
            <img src="/images/img-macbook-pro-2019.jpg" alt="Macbook Pro">
            
                <ul type="None" class="description">
                <i class="fas fa-truck"></i>
                <div class="PyD2"> 
                <li class="precio">$230.000</li>
                <li class="descuento">20% off</li>
                </div>
                <li>Macbook Pro 2019</li>
                </ul>
            
        </section>

        <section class="art">
            <img src="/images/img-samsung-galaxy-s10.jpg" alt="Galaxy S10">
            
            <ul type="None" class="description">
                <i class="fas fa-truck"></i>
                <div class="PyD">
                <li class="precio">$70.500</li>
                <li class="descuento">10% off</li>
                </div>
                <li>Samsung Galaxy S10</li>
                </ul>
            
        </section>

        <section class="art">
            
                <img src="/images/img-tv-samsung-smart.jpg" alt="Samsung SmartTv">
                <ul type="None" class="description">
                <i class="fas fa-truck"></i>
                <div class="PyD">
                <li class="precio">$23.200</li>
                <li class="descuento">5% off</li>
                </div>
                <li>SmartTv Samsung 43"</li>
                </ul>
        </section>
        </div>
    </section>
    </main>
    <footer>
        <br>
        <section>
            <i class="fas fa-credit-card"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </section>

        <section>
            <i class="fas fa-gift"></i>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </section>

        <section>
            <i class="fas fa-user-shield"></i>
            <h3>Seguridad de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </section>

        <section>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>
</html>